<app-progress-bar></app-progress-bar>

<!-- <div>
  <button type="button" class="btn btn-primary" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Simple demo
  </button>
</div>

<div class="carousel-wrapper">
  <carousel [isAnimated]="true">
    <slide>
      <img src="assets/img/Bart_Simpson_200px.png" alt="first slide" style="display: block;">
    </slide>
    <slide>
      <img src="assets/img/Homer_Simpson_2006.png" alt="second slide" style="display: block;">
    </slide>
    <slide>
      <img src="assets/img/Lisa_Simpson.png" alt="third slide" style="display: block;">
    </slide>
  </carousel>
</div> -->